.centralize {
	display: table !important;
    margin: 0 auto;
}

.margin-bottom {
	margin-bottom: 5px;
}

.information {
	max-width: 100%;
}

.account-balance {
	font-weight: bolder;
	font-size: 20px;
}

.custom-icon {
	position: absolute !important;
    right: 0px;
    margin: 20px 10px;
    font-size: 40px;
}
